.row .col-md-12 #cheekbyjowl {
  background-image: url('../images/restaurant_cheekbyjowl.png');
  background-repeat: no-repeat;
  width: 220px;
  height: 152px;
  opacity: 0.5;
  left: 200px;
}

.col-md-12 {
  text-align: center;
}

/*#restaurantname, #restaurantaddress, #restaurantcontact {
  text-align: center;
}*/
