extends layout

block content
  #index
    #wrapper
      h1= title
      h2= 'Everyone\'s a critic.'
      
    #searchbar
      .container
        .row
          .col-md-2.col-md-offset-5
            //- on change is a html listener
            select(onchange="location = this.value;")
              for restaurant in list
                li
                  option(value='http://localhost:3000/restaurants/'+restaurant.id)=restaurant.name
              //- each restaurant in restaurants
              //-   option(value=restaurant.id)= variable.var_name
