doctype html
html
  head
    title Foold | Cheek by Jowl Reviews
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Own CSS
    link(rel='stylesheet', href='css/restaurantstyle.css', type='text/css')
    // Bootstrap core CSS
    link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    block content
  
