doctype html
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Own CSS
    // link(rel='stylesheet', href='css/restaurantstyle.css', type='text/css')
    // Bootstrap core CSS
    link(href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    block content
      
      
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    // Javascript for stars
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js')
    script(src='/javascripts/main.js')
  
