<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!-- Bootstrap slider CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css">
  <!-- Own CSS -->
  <link rel="stylesheet" type = "text/css" href = "../public/stylesheets/style.css">
  <title>Form</title>
</head>

<body>
  <form class="form-inline">
    <div class="form-group">
      <label for="exampleInputName2">I spent</label>
      <label class="sr-only" for="amount_spent">Amount</label>
      <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="number" class="form-control" id="amount_spent" placeholder="Amount">
      </div>
      <label for="exampleInputName2">on</label>
      <label class="sr-only" for="party_size">Parties</label>
      <div class="input-group">
          <input type="number" class="form-control" id="party_size" placeholder="Number of">
          <div class="input-group-addon">pax</div>
      </div>
      </div>
      <div>
        <div class="food-value">
            <label>Value:</label> <input id="ex10" type="text" data-slider-handle="custom"/>
        </div>
        <div class="food-service">
            <label>Service:</label> <input id="ex11" type="text" data-slider-handle="custom"/>
        </div>
        <div class="food-ambience">
            <label>Ambience:</label> <input id="ex12" type="text" data-slider-handle="custom"/>
        </div>
        <div class="form-group">
          <label>Comments:</label> <textarea class="form-control" rows="3"></textarea>
        </div>

      </div>
  <div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- Javascript for stars -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js">

</script>
<script type="text/javascript" src="../public/javascripts/main.js"></script>

</body>

</html>
